@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<html>
<head>
</head>
<body>
    Home Controller with Index Action
    <img src="~/images/vaccine.png" />
</body>
</html>